* {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    /*font-family: 'Shippori Antique B1', sans-serif;*/
    margin: 0;
    padding: 0;
    outline: 0;
}

#container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url('./ivan2.jpg');
    background-position: 20% 50%;
    background-size:cover;
    background-repeat: no-repeat;
    transition: 1s;
}

#container.open {
    width: 100%;
    height: 125vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url('./ivan2.jpg');
    background-position: 20% 50%;
    background-size:cover;
    background-repeat: repeat;
    transition: 1s;
}

.main-d {
    display: block;
    position: absolute;
    border-radius: 10px;
    right: 25%;
    left: 25%;
    top: 0%;
    width: 50%;
    max-width: 550px;
    margin: 5vh auto;
    padding: 3vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}

#selfie-d {
    display: block;
    width: 30%;
    margin: 2vh auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    min-width: 150px;
}

.socials-d {
    display: flex;
    justify-content: center;
    margin: 0vh 0 2vh 0;
}

.socials-d img {
    width: 6vh;
    margin: 0 1vh;
    border-radius: 10%;
}

.socials-d img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-d h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
}

.main-d h3 {
    margin: 1vh 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: italic;
}

.main-d article {
    max-height: 23vh;
    overflow: hidden;
    transition: max-height 1s;
}

.main-d article.open {
    max-height: 45vh;
  }


.main-d p {
    margin: 0;
    font-size: 1.3rem;
    padding: 2vh 5vh 0vh 5vh;
    
}

.main-d ul {
    margin: 2vh 10vh 0vh 10vh;
}

.main-d li {
    font-size: 1.2rem;
    font-weight: bold;
}

#show-more-d {
    display: block;
    margin: 3vh auto;
    width: 16vh;
    background: #ff4bf0;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    transition: 0.25s;
}

#show-more-d:hover {
    box-shadow: none;
    transition: 0.25s;
}

.main-m {
    display: none;
}

/*-----------MOBILE SITE------------*/
@media only screen and (max-width: 1000px) {

    #container {
        display: none;
    }

    .main-d {
        display: none;
    }

    #container-m {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url('./ivan2.jpg');
        background-position: 20% 50%;
        background-size:cover;
        background-repeat: no-repeat;
        transition: 1s;
    }

    #container-m.open {
        width: 100%;
        height: 115vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url('./ivan2.jpg');
        background-position: 20% 50%;
        background-size:cover;
        background-repeat: no-repeat;
        transition: 1s;
    }

    .main-m {
        display: block;
        width: 70%;
        max-width: 450px;
        margin: 8vh auto;
        padding: 2vh;

        position: absolute;
        border-radius: 10px;
        right: 5%;
        left: 5%;
        top: 0%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
    }
    
    #selfie-m {
        display: block;
        width: 45%;
        margin: 1vh auto 2vh auto;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
        max-width: 150px;
    }
    
    .socials-m {
        display: flex;
        justify-content: center;
        margin: 0vh 0 2vh 0;
    }
    
    .socials-m img {
        width: 4.5vh;
        margin: 0 1vh;
        border-radius: 10%;
    }
    
    .socials-m img:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .main-m h1 {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 1000;
    }
    
    .main-m h3 {
        margin: 1vh 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        font-style: italic;
    }
    
    .main-m article {
        max-height: 25vh;
        overflow: hidden;
        transition: max-height 1s;
    }
    
    .main-m article.open {
        max-height: 40vh;
      }
    
    
    .main-m p {
        margin: 0;
        font-size: 1.2rem;
        padding: 1vh 1vh 0vh 1vh;
    }

    .main-m ul {
        margin: 1vh 5vh 0vh 5vh;
    }
    
    .main-m li {
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    #show-more-m {
        display: block;
        margin: 2vh auto 1vh auto;
        width: 16vh;
        background: #ff66d9;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding: 0.6rem;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
        transition: 0.25s;
    }

    #show-more-m:hover {
        box-shadow: none;
        transition: 0.25s;
    }


}